.baslık{
    color: blueviolet;
    text-transform: uppercase;
    text-align: center;
}
.lınk{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: purple;
    margin: 15px ;
    
}
a:hover{
    color: gainsboro;
}

.yazı{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.baslık2{
    color: chocolate;
    text-align: center;
    margin-top: 45px;
}
.lıst2{
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    text-justify: auto;
    padding-left: 15px;
    letter-spacing: 1px;

}

.lıst2 li{
    margin: 10px;
}
body{
    margin: 0%;
    background-color: beige;
}

img{
    margin: 55px;
    
}
.con{
    text-align: center;
    margin-top: 50px;
    
}
.con ul li{
    list-style-type: none;
}

.h2{
    color: goldenrod;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 45px;
}

